div {
    background-color: yellow;
     width: 500px;
     text-align: center;
     
}
div img {
    width: 100px;
    height: 100px;
}

img {
    display: inline-block;
}

p {
    font: 3rem;
}

div button {
    display: inline-block;
    margin: 0;
}

.content {
    height: 150px;
    width: 200px;
}