{% extends 'base_html.html' %}

{% block title %} BLOGLY {% endblock %}

{% block content %}

<h1>WELCOME TO BLOGLY</h1>

<h3>Current Users Online</h3>
<ul>
    {% for user in users %}
        <li><a href="/user/{user.id}">{{user.first_name}} {{user.last_name}}</a></li>
    {% endfor %}
</ul>

<form method="post" action="/users/new">
    <input type="text" name="first_name" placeholder="First Name" autofocus>
    <input type="text" name="last_name" placeholder="Last Name">
    <input type="text" name="image_url" placeholder="Profile Picture URL">
    <button>Submit</button>
</form>



{% endblock %}