<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/user_details.css">
    <title>{{user.first_name}} {{user.last_name}}</title>
</head>
<body>
    <div>
        <img src="{{user.image_url}}" alt="">
        <p>{{user.first_name}} {{user.last_name}}</p>
        <form action="/users/{{user.id}}/edit">
            <button>Edit</button>
        </form>
        <form action="/users/{{user.id}}/delete">
            <button>Delete User</button>
        </form>
    </div>

    <a href="/users">Back to Users</a>
    
</body>
</html>